<%= form_with(model: current_user.follow_relationships.build, loocal: true) do |f| %>
  <div><%= hidden_field_tag :followed_id, @user.id %></div>
  <%= f.submit t('views.users.follow'), class: "byn btn-primary" %>
<% end %>
